.excard-container {
  padding-bottom: 10px;
}

.excard {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: start;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  img {
    position: absolute;
    max-height: 60px;
    max-width: 60px;
    left: -30px;
    top: -30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .info {
    width: 100%;
    padding-left: 40px;
    padding-right: 20px;
    h3 {
      min-height: 3em;
    }
    h3.leaderEXCard {
      min-height: 1.5em;
    }
    .detail {
      min-height: 2.4em;
      line-height: 1.2em;
    }
    .source {
      min-height: 2em;
      font-size: 0.8em;
      line-height: 1em;
    }
    label {
      border: 1px solid #d9d9d9;
      cursor: pointer;
      font-family: Arial;
      min-width: 28px;
      outline: 0;
      text-align: center;
      display: inline-block;
      height: 28px;
      line-height: 26px;
      margin-right: 8px;
      margin-top: 1em;
      vertical-align: middle;
      &.active {
        border-color: #1890ff;
        color: #1890ff;
      }
    }
  }
  .excard-tab {
    input, .detail {
      display: none;
    }
    input:checked ~ .detail {
      display: block;
    }
  }
}