@media screen and (max-width: 768px) {
    .rwdtable {
        width: 100%;
        border: 0;
                            
        caption {
            font-size: 1.3em;
        }
                            
        thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
                            
        tr {
            background-color: #fafafa;
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }
                            
        td {
            color: #D20B2A;
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }
                            
        td:before {
            color: black;
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
        }
                            
        td:last-child {
            border-bottom: 0;
        }
    }
}