@import "compass/css3";
@import "compass/css3/transition";
@import "css_tags";
body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

#app {
  .pure-menu-list > .pure-menu-item{
    cursor: pointer;
  }
}

#paging-nav{
  
  text-align: center;

  /*
    Prevent strange glitch when a button swtich between enable/disable
    */
  .pure-menu-disabled {
    padding: 0;
  }
}

.cardItem {
  padding-bottom: 10px;
  @include transition(background-color .5s .25s, color 1s);
  .imgFrame{
    height: 60px;
    white-space: nowrap;
    margin: 1em 0;
    &:before{
      content: "";
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
    img{
      cursor: pointer;
    }
  }
  img{
    width: auto;
    height: 60px;
  }
  > div{
    margin-top: -2px;
    text-align: center;
  }
  &.selected{
    background-color: rgb(255, 197, 99);
  }
}

.teamItem{
  .imgFrame{
    position: relative;
    .teamCardBadge {
      margin: 0 0.1em;
      padding: 0.3em 1em;
      color: #fff;
      background: #999;
      font-size: 80%;
      background: #5aba59;
      position: absolute;
      left: 0px;
      bottom: -25px;
    }
    img{
      cursor: pointer;
    }
  }
  .numberData{
    position: relative;
    p{
      padding-left: 20px;
      margin: 4px auto;
      &:before{
        position: absolute;
        left: 0;
        width: 20px;
        text-align: right;
        font-size: 12px;
      }
    }
    p:nth-child(1){
      &:before{
        content: "HP: ";
      }
    }
    p:nth-child(2){
      &:before{
        content: "ATK: ";
      }
    }
    p:nth-child(3){
      &:before{
        content: "Cost: ";
      }
    }
  }
}

#CardCollecForm > div{
  margin-top: 5px;
  margin-bottom: 5px;
}
.senzaiList{
  text-align: left;
  &:before{
    content: "";
    display: inline-block;
    background-image: url("https://vignette3.wikia.nocookie.net/nekowiz/images/8/85/%E6%BD%9B%E5%9C%A8%E8%83%BD%E5%8A%9B.png/revision/latest?cb=20150702165104&path-prefix=zh");
    background-repeat: no-repeat;
    background-size: 60px;
    width: 60px;
    height: 22px;
    margin: 2px;
    vertical-align: middle;
    margin-top: -10px;
  }
  img{
    width: 22px;
    height: auto;
  }
}

.senzaiList.Legend:before{
  width: 134px;
  height: 22px;
  background-size: 128px;
  background-image: url(https://vignette1.wikia.nocookie.net/nekowiz/images/5/50/%E5%82%B3%E5%A5%87%E5%9E%8B%E6%85%8B%E6%95%88%E6%9E%9C%E7%99%BC%E5%8B%95.png/revision/latest?cb=20160115125440&path-prefix=zh);
}

.cardDetail{
  .card_img{
    text-align: center;
    img{
      height: 300px;
      width: 215px;
    }
  }
  .small_img{
    text-align: center;
    img{
      width: 60px;
      height: auto;
    }
  }
  ul{
    li{
      list-style-type: none;
    }
  }
}

.asData, .ssData{
  span{
    float:right;
    display:block;
  }
}

.hide{
  display: none;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

$evoColors-list: #f0f8ff #efdecd #f2f3f4 #faebd7 #fae7b5;

.evo_before_node, .evo_branch_node, .evo_after_node{
  @each $current-color in $evoColors-list {
    $i: index($evoColors-list, $current-color);
    &:nth-child(#{$i}) {
      background-color: $current-color;
    }
  }
  @each $current-color in $evoColors-list {
    $i: index($evoColors-list, $current-color);
    > div:nth-child(#{$i}) {
      background-color: $current-color;
    }
  }
}

.self_card img{
  border: 5px rgba(0,255,0,1) solid;
  background: rgba(0,255,0,0.5);
}

.down-arrow{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 25px 0 25px;
  border-color: #8222d1 transparent transparent transparent;
  margin-left: auto;
  margin-right: auto;
}

#evoListDisplay > .pure-g > div:last-child .down-arrow{
  display:none;
}
.selectList {
  @include transparent;
  @include transition(height, .5s ease-out);
  @include transition(opacity, .5s ease-out);
  height: 288px;
  opacity: 1;
}
.toggled {
  height: 0px;
  opacity: 0;
}

.reset_btn{
  span{
    font-size: 0px;
  }
  i{
    font-size: 100%;
  }
  @media screen and (min-width: 960px){
    span{
      font-size: 100%;
    }
    i{
      font-size: 0px;
    }
  }
}

.cardListOptions select{
  margin-right:1.8em
}

.teamCardDetail{
  overflow: hidden;
  max-height: 0px;
  border: 1px #CCC solid;
  background-color: #EEE;
  @include transition-property(max-height);
  @include transition-duration(.3s);
  &.toggle{
    max-height: 400px;
  }
}

.footer {
  text-align: center;
}