.root {
  margin: 10px 0 10px;
}
.spacer {
  display: none;
}

.toolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  background-color: inherit;
}

.selectLabel {
  margin: 0;
}

.select {
  padding: 2px;
  border: 1px solid #eee;
  border-radius: 8px;
  background-color: transparent;
  color: #212121;

  &:hover {
    background-color: #fafafa;
  }

  &:focus {
    outline: 1px solid #90caf9;
  }
}

.displayedRows {
  margin: 0;

  @media (min-width: 768px) {
    margin-left: auto;
  }
}

.actions {
  padding: 2px;
  border: 1px solid #eee;
  border-radius: 8px;
  text-align: center;
}

.actions > button {
  margin: 0 8px;
  border: none;
  border-radius: 4px;
  background-color: transparent;
  color: #212121;

  &:hover {
    background-color: #fafafa;
  }

  &:focus {
    outline: 1px solid #90caf9;
  }

  &:disabled {
    opacity: 0.3;
  }
}